# compiled output
_bundles/
lib/
lib-esm/
dist/
/tmp
/out-tsc
packages/runtime/api-docs
packages/tools/src/package.ts

# dependencies
node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.*.swp

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json

# misc
.sass-cache/
/connect.lock
coverage/
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/

# System Files
.DS_Store
Thumbs.db

# I18N
*.gmo

# lerna
/lerna-debug.log
/.nx

write-package.json
/.nx
